* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Bitter', serif;
  width: 100%;
  background: #f8f9f8;
}

img {
  display: block;
  height: auto;
  margin: 30px auto;
  width: 200px;
}

h1, h2 {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

h2 {
  margin-bottom: 12px;
}

/* ====== Search Section ====== */
.search-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

input {
  width: 180px;
  margin-right: 15px;
  padding: 8px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #4e4e4e;
}

input:focus {
  outline: none;
  border-bottom-color: #faaca8;
}

button {
  color: #4e4e4e;
  background-color: #faaca8;
  border: 1px solid #faaca8;
  border-radius: 100px;
  padding: 0 20px;
  -webkit-box-shadow: 0px 3px 20px -7px rgba(85,85,85,1);
  -moz-box-shadow: 0px 3px 20px -7px rgba(85,85,85,1);
  box-shadow: 0px 3px 20px -7px rgba(85,85,85,1);
}

button:hover {
  cursor: pointer;
  background-color: transparent;
}

/* ====== List Items Section ======*/
#container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
  padding: 40px 0;
}

article {
  display: inline-block;
  width: 300px;
  margin: 16px;
  padding: 20px;
  border-radius: 8px;
  background-image: -webkit-linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  -webkit-box-shadow: 0px 3px 20px -7px rgba(85,85,85,1);
  -moz-box-shadow: 0px 3px 20px -7px rgba(85,85,85,1);
  box-shadow: 0px 3px 20px -7px rgba(85,85,85,1);
}

p {
  margin-bottom: 10px;
}



